## 1

In [ ]:
a = [1,3,2]
a.sort()
a # a의 주소에 sort를 실행한다. a.sort()자체의 반환값은 없다.

[1, 2, 3]

In [ ]:
b = [1,3,2]
print(sorted(b))
b #반환값이 존재한다.원래 b는 변하지 않는다.

[1, 2, 3]

[1, 3, 2]

## 2

In [ ]:
test_ls = [1,2,3]
test_num = [4]

test_ls.append(test_num)
test_ls  # test_num 그대로 하나의 요소로 들어간다.

[1, 2, 3, [4]]

In [ ]:
test_ls = [1,2,3]
test_num = [4]

test_ls.extend(test_num)
test_ls # test_num을 풀어서 하나의 요소로 넣는다.

[1, 2, 3, 4]

## 3

In [ ]:
a = [1,2,3,4,5]
b = a
a[2] = 5
print('a:',a)
print('b:',b) # b는 a를 참조하기 때문에 a의 값이 바뀌면 b도 바뀐다.

a: [1, 2, 5, 4, 5]
b: [1, 2, 5, 4, 5]

# ADV

## 1

In [3]:

def duplicated_letters(alphs):
    return [alph for alph in set(alphs) if alphs.count(alph) >=2]

print(duplicated_letters('apple'))
print(duplicated_letters('banana'))

['p']
['a', 'n']

## 2

In [8]:
def low_and_up(alphs):
    return ''.join([alph.lower() if idx % 2 == 0 else alph.upper() for idx, alph in enumerate(alphs)])

print(low_and_up('apple'))
print(low_and_up('banana'))

aPpLe
bAnAnA

## 3

In [11]:
def lonely(num_ls): 
    init_num = None
    result = []
    for num in num_ls:
        if init_num != num:
            result.append(num)
            init_num = num
    return result

print(lonely([1,1,3,3,0,1,1]))
print(lonely([4,4,4,3,3]))

[1, 3, 0, 1]
[4, 3]